{% extends "layout.html" %}
{% set active_page = "about" %}

{% block head %}
<title>Adlite | How it works</title>
<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
	<h1>See how it works</h1>
	<p>Are you a publisher? Keep writing great content. Are you an advertiser? Keep writing great content. We do the rest. We have just created a new channel that unlocks new revenue opportunities for publishers and advertisers. Keep writing great content that people can really engage with.</p>
	{% if APIok %}
		<div style="float: left; padding: 5px;"><p><a class="btn btn-primary btn-lg" href="{{ url_for('ad_demo') }}" role="button">Try the online demo now</a></p></div>
	{% endif %}
	<div style="float: left; padding: 5px;"><p><a class="btn btn-primary btn-lg" href="{{ url_for('contact') }}"  role="button">Request a full demo &raquo;</a></p></div>
	</br>
  </div>
  
  <!-- START THE FEATURETTES -->

  <div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">1.</span>We profile content from premium publishers. 24/7.</h2>
	  <p class="lead">We have profiled {{ millDocs }} pages from premium publishers and counting. Politics, sport, culture, business, lifestyle, fashion, environment, tech, travel, and many more. </p>
	</div>
	<div class="col-md-5">
	</div>
  </div>

  <div class="row featurette">
	<div class="col-md-7 col-md-push-5">
	  <h2 class="featurette-heading"><span class="text-muted">2.</span>We profile content from our partner advertisers.</h2>
	  <p class="lead">We profile branded content using the same NLP engine used for publishers using our automated content discovery platform. </p>
	</div>
	<div class="col-md-5 col-md-pull-7">
	</div>
  </div>

  <div class="row featurette">
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">3.</span>We match content with context. Dead on.</h2>
	  <p class="lead">Now that all content is in the platform, we use semantic criteria to match advertisers and publishers. </p>
	</div>
	<div class="col-md-5">
	</div>
  </div>

  <div class="row featurette">
	<div class="col-md-7 col-md-push-5">
	  <h2 class="featurette-heading"><span class="text-muted">4.</span>We report openly and transparently.</h2>
	  <p class="lead">Creating a direct link between advertisers and publishers allows us to report in real time and full transparency and granularity. See with unprecedented clarity how your campaigns or your inventory are performing. </p>
	</div>
	<div class="col-md-5 col-md-pull-7">
	</div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
{% endblock %}
