{% extends "layout.html" %}
{% set active_page = "ad_demo" %}

{% block head %}
<title>Adlite | Demo for advertisers</title>
<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<br/>

<div class="jumbotron">
  <div class="container">
	<h1 class="display-3">Semantic Filters</h1>
	<p class="text-muted">We started with your content:</p>
	<blockquote >"{{ paragraph }}"</blockquote>
	{% if semaSearch and posWords %}
		<p class="text-muted">and ranked it by the meaning of:</p>
		<blockquote>"{{ semaSearch }}"</blockquote>
		<p class="text-muted">In this context, your criteria were understood as:</p>
		<code>{{ posWords }}</code>
	{% elif not error %}
		<p class="text-muted">We have sampled {{ nGoodResults }} relevant articles - that means that if you promoted your content here, readers would be already engaged.</p>
		<p class="text-muted">But of course, this is not enough. Is it a good idea for your content to be advertised on all of them? Does the author express opinions aligned with your brand values? What type of feelings can you expect readers to have? Are they your ideal audience?</p>
		<p class="text-muted">We know that traditional categories used to sieve through online inventory are too rigid to capture all this - so we built our models to interface in a more human way.</p>
		<p class="text-muted">Tell us what your vision for your campaign is: whether you want to describe your ideal audience, capture emotions, sentiment or values, describe it in a few words in the space below.</p>
		<p class="text-muted">We will rank {{ nSemaDocs }} of the articles fetched so far based on the meaning of the words in this context. (And yes, your standard categories work here too).</p>

	{% endif %}	
  </div>
</div>
	
{% if posDocs %}
	<div class="jumbotron">
		<h2>Some articles semantically close to your search:</h2>
		<ul>
		{% for doc in posDocs %}
			<li><a href="{{ doc.URL }}" target="_blank">{{ doc.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

{% if negDocs %}
<!--	<p>While the semantic opposite is understood as: "{{ negWords }}"</p> -->
	<div class="jumbotron">
		<h2>... and some far away:</h2>
		<ul>
		{% for doc in negDocs %}
			<li><a href="{{ doc.URL }}" target="_blank">{{ doc.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

{% if error %}
	<p><code>{{ error }}</code></p>
{% endif %}

{% if posDocs or negDocs %}
	<form action="{{ url_for('ad_semantic', queryId=_queryId) }}" method="post">
		<input class="form-control" type="text" placeholder='Try typing a few words like "positive", "skeptical", "happy" or "young and active"' name="semaSearch">
		<br/>
		<button type="submit" class="btn btn-primary btn-lg">Try another filter</button>
	</form>
	</br>
	<div class="jumbotron">
		<h2>Tips:</h2>
		<p>If you think that your criteria were not understood, try using simpler synonyms.</p>
		<p>If your criteria were understood reasonably well, but the results are disappointing, try <a href="{{ url_for('ad_fetch', queryId=_queryId) }}">fetching more documents</a> first.</p>
		<p>If your initial content was not understood correctly, try <a href="{{ url_for('ad_demo') }}">adding more text</a> in your next search.</p>
	</div>
{% else %}
	<form action="{{ url_for('ad_semantic', queryId=_queryId) }}" method="post">
		<input class="form-control" type="text" placeholder='Try typing a few words like "positive", "skeptical", "happy" or "young and active"' name="semaSearch">
		<br/>
		<button type="submit" class="btn btn-primary btn-lg">Rank by the meaning of this filter</button>
	</form>
{% endif %}

{% endblock %}

