{% extends "layout.html" %}
{% set active_page = "ad_demo" %}

{% block head %}
<title>Adlite | Demo for advertisers</title>
<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<br/>

<div class="jumbotron">
  <div class="container">
	<h1 class="display-3">Semantic Filters</h1>
	{% if not error %}
		<p class="text-muted">We analysed {{ nDocs}} linked to your content:</p>
		<blockquote >"{{ text }}"</blockquote>
		<p class="text-muted">and ranked them by the meaning of:</p>
		<blockquote>"{{ semaSearch[0] }}"</blockquote>
		<p class="text-muted">In this context, <i><b>"{{ semaSearch[0] }}"</b></i> was understood as:</p>
		<code>{{ posContext }}</code>
	{% endif %}	
  </div>
</div>
	
{% if posDocs %}
	<div class="jumbotron">
		<h2>Some articles semantically close to your search:</h2>
		<ul>
		{% for doc in posDocs %}
			<li><a href="{{ doc.URL }}" target="_blank">{{ doc.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

{% if negDocs %}
<!--	<p>While the semantic opposite is understood as: "{{ negContext }}"</p> -->
	<div class="jumbotron">
		<h2>... and some far away:</h2>
		<ul>
		{% for doc in negDocs %}
			<li><a href="{{ doc.URL }}" target="_blank">{{ doc.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

{% if error %}
	<p><code>Cannot understand your search! Please note that this demo is for English only and case sensitive.</code></p>
{% endif %}

<form action="{{ url_for('ad_semantic', queryId=_key) }}" method="post">
	<input class="form-control" type="text" placeholder='Try typing a few words like "positive", "skeptical", "happy" or "young and active"' name="semaSearch">
	<br/>
	<button type="submit" class="btn btn-primary btn-lg">Try another filter</button>
</form>
</br>

{% if posDocs or negDocs %}
	<div class="jumbotron">
		<h2>Tips:</h2>
		<p>If you think that your criteria were not understood, try using simpler synonyms.</p>
		<p>If your criteria were understood reasonably well, but the results are disappointing, try <a href="{{ url_for('ad_fetch', queryId=_key) }}">fetching more documents</a> first.</p>
		<p>If your initial content was not understood correctly, try <a href="{{ url_for('ad_demo') }}">adding more text</a> in your next search.</p>
	</div>
{% endif %}

<hr class="featurette-divider">

{% if queryInProgress %}
	<meta http-equiv="refresh" content="1;url={{ url_for('ad_semantic', queryId=_key) }}" />
{% endif %}

{% endblock %}

