{% extends "layout.html" %}
{% set active_page = "why" %}

{% block head %}
<title>Adlite | Why Adlite</title>
<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">1.</span>Cost efficient. </h2>
          <p class="lead">A direct link between advertisers and publishers finally remove unnecessary layers, reducing operational costs for advertisers and increasing revenues for publishers. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">2.</span>Lightweight. </h2>
          <p class="lead">Adlite does not rely on RTB or cookies; therefore no additional latency or data overhead is required. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">3.</span>Transparent. </h2>
          <p class="lead">Advertisers can choose in detail where their content will be promoted; at the same time, publishers maintain full visibility and control of what they advertise to their readers. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">4.</span>Engaging. </h2>
          <p class="lead">Promoting branded content within relevant editorial content has proven to outperform industry standards by multiples. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">5.</span>Scalable. </h2>
          <p class="lead">We use cutting edge NLP to make content available across different publishers and brands in real time. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted">6.</span>Content driven. </h2>
          <p class="lead">Adlite allows high quality branded content to shine  within high quality editorial content, providing more creative and engaging advertising to readers and consumers. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}
